<script type="x/template" data-component="item-price">
    <div :class="{ 'has-crossprice': hasCrossPrice }">
        <div class="crossprice" v-if="showCrossPrice && hasCrossPrice" :class="{ 'is-special-offer': hasSpecialOffer }">
            <del class="text-muted small text-appearance">
                <template v-if="hasSpecialOffer">
                    ${ currentVariation.prices.default.unitPrice.formatted | itemCrossPrice(true) }
                </template>
                <template v-else>
                    ${ currentVariation.prices.rrp.unitPrice.formatted | itemCrossPrice }
                </template>
            </del>
        </div>

        <span class="price h1 ralle" :class="{ 'is-special-offer': hasSpecialOffer }">
            <span>
                <template v-if="showDynamicPrice">
                    ${ $translate("Ceres::Template.dynamicVariationPrice",
                        {
                            price: $options.filters.currency(variationTotalPrice, currentVariation.prices.default.currency)
                        }
                    ) }
                </template>

                <template v-else>
                    ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
                </template>
            </span>
            <sup>${ $translate("Ceres::Template.singleItemFootnote1") }</sup>
        </span>

        <ul class="text-muted pl-0 list-unstyled" v-if="propertiesWithAdditionalCostsVisible.length">
            <li v-for="property in propertiesWithAdditionalCostsVisible" :key="property.propertyId">
                <span class="d-block">
                    ${ property.property.names.name } <template v-if="$options.filters.propertySurcharge(currentVariation.properties, property.propertyId) > 0">(${ $translate("Ceres::Template.basketPlusAbbr") } ${ currentVariation.properties | propertySurcharge(property.propertyId) | currency })</template>
                    <template v-if="hasTax(property)">${ $translate("Ceres::Template.singleItemFootnote1") }</template>
                </span>
            </li>
        </ul>

        <!-- lowest price, according to ยง 11 PAngV -->
        <div class="lowest-price text-muted mb-3" v-if="currentVariation.prices.default.lowestPrice.value && showCrossPrice && hasCrossPrice">
            <div v-html="$translate('Ceres::Template.singleItemLowestPrice', {'price': currentVariation.prices.default.lowestPrice.formatted})">
            </div>
        </div>
        
        <!-- class .is-single-piece is added for customers to hide the unit if it is C62 -->
        <div class="base-price text-muted my-3"
            v-if="currentVariation.unit"
            :class="{ 'is-single-piece': currentVariation.unit && currentVariation.unit.content === 1 && currentVariation.unit.unitOfMeasurement === 'C62' }">
            <div>
                ${ $translate("Ceres::Template.singleItemContent") }
                <span>${ currentVariation.unit.content | numberFormat } </span>
                <span>${ currentVariation.unit.names.name }</span>
            </div>
            <div v-if="currentVariation.variation.mayShowUnitPrice">
                ${ $translate("Ceres::Template.singleItemUnitPrice") }
                <span class="base-price-value">
                    ${ variationGraduatedPrice.basePrice | specialOffer(currentVariation.prices, "basePrice") }
                </span>
            </div>
        </div>
    </div>
</script>